/* ============================ Common CSS ============================ */
/* ============================ Header Area ============================ */
/* ============================ Features Section ============================ */
/* ============================ Benefit Section ============================ */
/* ============================ Stars Section ============================ */
/* ============================ Foods Section ============================ */
/* ============================ Product Section ============================ */
/* ============================ Try it Section ============================ */
/* ============================ Footer Area ============================ */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --themeColor: #1d1d1f;
    --subColor: #06c167;
    --headerBackground: #f3fcf7;
    --sectionImageBackground: #f3fafb;
}

.header-bg {
    background-color: var(--headerBackground);
}

/* var(--themeColor)
var(--subColor) */

img {
    max-width: 100%;
}

/* ============================ Google Fonts ============================ */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: var(--themeColor);
    font-weight: normal;
    line-height: 142.4%;
}

section {
    padding-bottom: 85px;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--themeColor);
}

h1 {
    font-size: 75px;
    line-height: 90.77px;
    font-weight: 600;
    margin-bottom: 10px;
}

.container {
    max-width: 1177px;
    margin: 0 auto;
}

.section-sub-title {
    color: var(--themeColor);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.section-title h2 {
    font-size: 60px;
    font-weight: 500;
    line-height: 73px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* ============================ Header Area ============================ */

/* Header Top */

.logo a {
    color: var(--subColor);
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0;
}

.main-menu nav li {
    display: inline-block;
}

.main-menu nav li a {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    color: var(--themeColor);
    margin-left: 37px;
    transition: 0.3s;
}

.main-menu nav li a:hover {
    color: var(--subColor);
    border-bottom: 2px solid var(--subColor);
    padding-bottom: 8px;
}
.main-menu nav li a.active {
    color: var(--subColor);
}
.main-menu nav li a.active:hover {
    color: var(--themeColor);
    border-bottom: 2px solid var(--themeColor);
}

/* Header Bottom */
.header-bottom {
    display: flex;
}

.header-content {
    width: 45%;
    margin-right: 122px;
    margin-top: 45px;
}

a.section-btn {
    display: inline-block;
    background-color: var(--subColor);
    color: #fff;
    transition: 0.3s;
    padding: 24px 31px;
}

a.section-btn img {
    margin-left: 20px;
}

.header-content p {
    margin-bottom: 30px;
}

a.section-btn:hover {
    background-color: var(--themeColor);
}
/* ============================ Features Section ============================ */
/* ============================ Benefit Section ============================ */
/* ============================ Stars Section ============================ */
/* ============================ Foods Section ============================ */
/* ============================ Product Section ============================ */
/* ============================ Try it Section ============================ */
/* ============================ Footer Area ============================ */
